@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
body {
    text-align: center;
    display: flex;
    height: 100vh;
    width: 100%;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #1b0404;
    border-radius: 30px;
    padding: 10px 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}
.asd{
    margin-top: 20px;
    text-align: center;
}

.heading {
    margin-top: 70px;
    font-family:"Poppins" sans-serif;
    color: black;
}
.btn-3 {
    background: rgb(0, 172, 238);
    background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
    
    max-width: 330px;
    height: 40px;
    line-height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px 10px;
    padding-bottom: 10px;
    border: none;
}
.kk1{
    margin-left: 170px;
    border-radius: 30px;
}
.kk2{
    margin-left: 170px;
    border-radius: 30px;

}
.kk3{
    margin-left: 170px;
    border-radius: 30px;
}
.kk4{
    margin-left: 130px;
    border-radius: 30px;
}
.kk5{
    margin-left: 160px;
    border-radius: 30px;
}
.kk6{
    margin-left: 166px;
    border-radius: 30px;
}

.kk7{
    margin-left: 134px;
    border-radius: 30px;
}
.kk8{
    margin-left: 140px;
    border-radius: 30px;
}
.kk9{
    margin-left: 115px;
    border-radius: 30px;
}
.kk10{
    margin-left: 140px;
    border-radius: 30px;
}
.kk11{
    margin-left: 160px;
    border-radius: 30px;
}
.kk12{
    margin-left: 150px;
    border-radius: 30px;
}
.abc {
    margin-top: 30px;
    text-align: center;
}
.prediction_text{
    margin-top: 20px;
    color: black;
    font-family: "Poppins" sans-serif;
}

.btn-6 {
    background: rgb(247, 150, 192);
    background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
        -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.btn-6:hover {
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}

.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
        -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
}

.btn-6 span:hover:after {
    width: 100%;
}