@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
--header-height: 3rem;
--font-semi: 600;
--hue-color: 224;
--first-color: hsl(var(--hue-color), 89%, 60%);
--second-color: hsl(var(--hue-color), 56%, 12%);
--body-font: 'Poppins', sans-serif;
--big-font-size: 2rem;
--h2-font-size: 1.25rem;
--normal-font-size: .938rem;
--smaller-font-size: .75rem;
--mb-2: 1rem;
--mb-4: 2rem;
--mb-5: 2.5rem;
--mb-6: 3rem;
--z-back: -10;
--z-fixed: 100;
}
*{
margin: 0;
box-sizing: border-box;
padding: 0;
font-family: 'Poppins', sans-serif;
}

.header
{
min-height: 100vh;
width: 100%;
background: #000;
color: #fff;
}

nav{
display: flex;
justify-content: space-between;
align-items: center;
position: relative;
z-index: 1;
}

.logo
{
text-decoration: none;
color: #fff;
font-size: 30px;
font-weight: bold;
padding-top: 10px;
padding-left: 8%;
}

.nav-links
{
text-align: right;
background: lightpink;
padding: 10px 30px;
border-bottom-left-radius: 18px;
}

.nav-links ul li{
list-style: none;
display: inline-block;
padding: 10px 25px;
}

.nav-links ul li a{
color: #fff;
text-decoration: none;
font-size: 18px;
transition: 0.5s ea;
}

.nav-links ul li a:hover
{
color: #000;
}

.left-sidebar
{
width: 20%;
height: 100%;
position: absolute;
left: 0;
top: 0;
background: lightpink;
border-bottom-right-radius: 35%;
border-top-right-radius: 35%;
}

.row
{
padding: 0 10%;
display: flex;
align-items: flex-end;
justify-content: space-between;
position: relative;
margin-top: 5%;
}
.left-col{
flex-basis: 40%;

}

.right-col
{
flex-basis: 55%;
}

.left-col img
{
width: 80%;
cursor: pointer;

transition: filter 1s;
transition: transform 0.5s;
}

.left-col img:hover
{

transform: translateY(-8px);
}

.right-col h1{
font-size: 55px;
font-weight: 600;
}

.right-col p{
color: whitesmoke;
margin: 20px 0 70px;
}

.social-icon 
{
display: flex;
margin-top: 30px;
}

.social-icon .icon
{
width: 50px;
height: 50px;
background: #fff;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
position: relative;
margin-right: 20px;
margin-bottom: 20px;
overflow: hidden;
transition: transform 0.5s;
}


*, ::before, ::after {
    box-sizing: border-box;
  }
  
  .newonemann {
    font-size: 50px;
  }
  
  
  .newoneman {
    font-size: 33px;
  }
  
  

.icon img
{
width: 28px;
}

.icon a{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: lightpink;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
transition: transform 0.5s;
}

.icon a:hover
{
opacity: 1;
}

.icon:hover
{ 
transform: translateY(-5px);
}

 .skills-section {
  /* margin-top: 30px; */
  background-color: black;
}

 .skills-section-sub-heading {
  color: white;
  font-family: "Poppins" sans-serif;
  font-size: 20px;
  font-weight: bold;
}

 .skills-card-image {
  width: 64px;
  height: 64px;
}

 .skills-card {
  background-color:#ffff;
  border-radius: 8px;
  padding: 10px;
  
}

.skills-card-title {
  color:black;
  font-family: "Poppins" sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
 
}
.main {
  background-color: #3e4c59;
  padding: 35px;
}

.main-heading {
  color:  white;
  font-size: 24px;
  font-weight: bold;
}

.second-head {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
}

.web {
  background-color: black;
  border-radius: 10px;


}

.image {
  width: 100%;
}
/* .main-button{
  border-radius: 25px;
  float: inherit;
  background-color: #157ED5;
  border: none;
  color: white;
  height: 50px;
  width: 200px;
  font-weight: bold;
  text-transform: capitalize ;
} */
.projects{
  background-color: black;
}

.projects .project-section{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
 
}
.projects .project-section-sub-heading{
  color: white;
  font-family: "Poppins" sans-serif;
  font-size: 20px;
  font-weight: bold;
  

}
.projects .project-card-image {
  width: 212px;
  height: 142px;
  border-radius: 8px;
  padding: 4px;
}
#hb{
  font-size: 15px;
}
.projects .project-custom-font{
  font-family: "Poppins" sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
  color: white;
  padding: 20px;
}

/* contact section */
.contact
{
  /* margin-top: 30px; */
  position: relative;
  min-height: 100vh;
  padding:50px 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  background-size: cover;
  color: whitesmoke;
}

.contact .content
{
  max-width: 800px;
  text-align: center;
}
.contact .content h2
{
  font-size: 35px;
  font-weight: 500;
  color: white;

}
.contact .content p
{
  font-weight: 500;
  color: #fff;
}
.container{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}
.container .contactInfo
{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box
{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon
{
  min-width: 60px;
  height: 60px;
  background:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text
{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: white;
  font-size: 17px;
  font-weight:300;
}
.container .contactInfo .box .text h1
{
  font-weight: 400;
  color: white;
}
.container .contactInfo .box .text p
{
  font-weight: 200;
  color: white;
}
.contactForm
{
  width: 40%;
  padding: 40px;
  background: #faf8f8;  
}
.contactForm h2
{
  font-size: 30px;
  color: black;
  font-weight: 500;
}

.contactForm .inputbox
{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
 
.contactForm .inputbox input,
.contactForm .inputbox textarea
{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputbox span
{
  position: relative;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: black;
}
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span,
.contactForm .inputbox input:focus ~ span,
.contactForm .inputbox input:valid ~ span
{
  color: #3588ab;
  font-size: 12px;
  transform: translateY(-20px);
} 
.contactForm .inputbox input[type="submit"]
{
  width: 100px;
  background: #3588ab;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.footer .footer1{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #7B71D5;
  color: white;
  font-family: "Poppins" sans-serif;
  /* margin-top: 30px; */
  border: 10px;
  border-radius: 5px solid;
}
footer .footer1 p
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
@media(max-width:991px) 
{
  .contact
  {
    padding: 50px;

  }
  .container
  {
    flex-direction: column;
  }
  .container .contactInfo
  {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm
  {
    width: 100%;
  }
  
}